<div class="flex flex-col flex-auto min-w-0">
    <app-with-back-header [headerText]="headerText"></app-with-back-header>

    <div class="flex-auto p-6 sm:p-10">
        <div class="rounded-2xl">
            <div class="bg-card rounded-2xl shadow px-8 pt-6 pb-8">
                <div class="font-black">Course A</div>

                <div class="mt-4 mb-4">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aenean scelerisque eleifend felis, vel rutrum eros commodo
                    eu. Pellentesque nec dolor sodales, rhoncus justo eget,
                    tincidunt enim. Mauris nibh quam, finibus et auctor sit
                    amet, efficitur non lectus. Etiam volutpat elit at augue
                    porta, quis ultricies libero malesuada. Nam finibus maximus
                    pharetra. Fusce a purus ultrices, ultrices libero id,
                    ultricies justo.
                </div>

                <div>
                    Nunc lobortis dolor id facilisis pellentesque. Cras suscipit
                    elementum neque. Aenean luctus augue et cursus mollis. Morbi
                    semper velit eu mauris mattis, sit amet lobortis dolor
                    aliquam.
                </div>

                <div class="mt-4 mb-4">
                    Pellentesque porta risus vel massa ullamcorper, ut dignissim
                    purus tempor. Sed luctus justo ligula, quis mollis est
                    finibus in.
                </div>

                <div class="mt-3 -mx-3">
                    <button
                        class="fuse-mat-button-large w-full mt-6"
                        mat-flat-button
                        [color]="'accent'"
                    >
                        Watch Video
                    </button>
                </div>

                <div class="mt-3 -mx-3">
                    <button
                        class="fuse-mat-button-large w-full"
                        mat-flat-button
                        [color]="'accent'"
                    >
                        Quiz
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
