<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6 sm:p-10">
        <!-- <app-with-back-header [headerText]='headerText'></app-with-back-header> -->

        <div class="rounded-2xl">
            <div class="mb-3 font-medium">
                <mat-label>Learning Course</mat-label>
            </div>

            <div class="flex flex-col pb-4">
                <fuse-card class="
                        flex flex-col
                        max-w-80
                        w-full
                        filter-article
                        ng-tns-c184-229 ng-star-inserted
                    ">
                    <div class="m-8 mb-4 ng-tns-c184-229 ng-star-inserted">
                        <div class="text-2xl font-semibold leading-tight">
                            BSc Marketing
                        </div>

                        <div class="mt-4">
                            The Bachelor of Science in Marketing provides a foundation for advanced and independent
                            study through establishing a common platform of essential knowledge and skills. You’ll gain
                            a unique insight into the role and function of marketing in our society and a global
                            perspective on the ways marketing impacts different nations and peoples. A range of themes
                            are offered to ensure that you get to appreciate the diverse, interdisciplinary nature of
                            business administration and marketing and also gain or reinforce a range of conceptual,
                            technical, quantitative and personal skills.
                        </div>

                        <div class="mt-3 -mx-3">
                            <button class="fuse-mat-button-large w-full mt-6" mat-flat-button [color]="'accent'"
                                [routerLink]="['/course-details']">
                                Learn More
                            </button>
                        </div>
                    </div>
                </fuse-card>
            </div>

            <div class="flex flex-col pb-4">
                <fuse-card class="
                        flex flex-col
                        max-w-80
                        w-full
                        filter-article
                        ng-tns-c184-229 ng-star-inserted
                    ">
                    <div class="m-8 mb-4 ng-tns-c184-229 ng-star-inserted">
                        <div class="text-2xl font-semibold leading-tight">
                            Bachelor of Applied Arts and Sciences
                        </div>

                        <div class="mt-4">
                            The Bachelor of Applied Arts and Sciences (B.A.A.S.) program from the University of North
                            Texas (UNT) is designed to streamline your path to a fully accredited bachelor’s degree by
                            making it easy to transfer course work you’ve previously completed for technical, applied,
                            or U.S. military credit.
                        </div>

                        <div class="mt-3 -mx-3">
                            <button class="fuse-mat-button-large w-full mt-6" mat-flat-button [color]="'accent'"
                                [routerLink]="['/course-details']">
                                Learn More
                            </button>
                        </div>
                    </div>
                </fuse-card>
            </div>
        </div>
    </div>
</div>