
<div class="flex flex-col flex-auto min-w-0">

    <div class="flex-auto p-6 sm:p-10">

        <div class="rounded-2xl">

            <div class="mb-3 font-medium">
                <mat-label>Saving Plan</mat-label>
            </div>

            <div *ngFor="let item of plans;"
                class="flex flex-col pb-4">
                <fuse-card class="flex flex-col max-w-80 w-full filter-article ng-tns-c184-229 ng-star-inserted">
                    <div class="m-8 mb-4 ng-tns-c184-229 ng-star-inserted">
                        <div class="text-2xl font-semibold leading-tight">{{ item.plan }}</div>

                        <div class="mt-4"> {{ item.description }} </div>

                        <div class="mt-4">Duration: {{ item.duration }} </div>
                        <br>
                    </div>
                    <button class="px-6" mat-flat-button [color]="'accent'" (click)="openDialog(item)">
                        {{button}}
                    </button>
                </fuse-card>

            </div>

            <button mat-mini-fab="" class="mat-focus-indicator mat-mini-fab mat-button-base bg-accent mat-fab-bottom-right" style="position: fixed; bottom: 75px; right: 75px;" 
            [routerLink]="['/plan-options']" *ngIf="this.user.userRole === 'parent'">
            <span class="mat-button-wrapper">
                    HLB
            </span>
            
            <span class="mat-button-focus-overlay"></span>

        </button>
        

            <button mat-mini-fab="" class="mat-focus-indicator mat-mini-fab mat-button-base bg-primary mat-fab-bottom-right" style="position: fixed; bottom: 75px; right: 25px;" 
                [routerLink]="['/add-plan']" *ngIf="this.user.userRole === 'parent'">
                <span class="mat-button-wrapper">
                    <mat-icon role="img" class="mat-icon notranslate mat-icon-no-color" aria-hidden="true">
                        add
                    </mat-icon>
                </span>
                
                <span class="mat-button-focus-overlay"></span>

            </button>
            

        </div>

     

    </div>

</div>
