<div class="flex flex-col flex-auto min-w-0">
    <app-with-back-header [headerText]='headerText'></app-with-back-header>
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <!-- CONTENT GOES HERE -->
        <div class="rounded-2xl">
            <p class="text-lg font-medium">Redeem (Your Current Credits: 100)</p>
            <div *ngFor="let item of reward;" class="
                    xl:col-span-2
                    flex flex-col flex-auto
                    bg-card
                    shadow
                    rounded-2xl
                    overflow-hidden
                    mt-5
                ">
                <div class="p-6">
                    <div class="
                            mr-4
                            text-lg
                            font-medium
                            tracking-tight
                            leading-6
                            truncate
                        ">
                        {{item.reward}}
                    </div>
                    <br>
                    <div class="text-secondary font-medium">
                        Required Credits: {{item.credit}} credits
                    </div>
                </div>
                <button class="px-6" mat-flat-button [color]="'accent'">
                    Redeem
                </button>
            </div>
        </div>
        <button mat-mini-fab="" class="mat-focus-indicator mat-mini-fab mat-button-base bg-primary mat-fab-bottom-right"
            style="position: fixed; bottom: 75px; right: 25px;" [routerLink]="['/add-reward']">
            <span class="mat-button-wrapper">
                <mat-icon role="img" class="mat-icon notranslate mat-icon-no-color" aria-hidden="true">
                    add
                </mat-icon>
            </span>

            <span class="mat-button-focus-overlay"></span>

        </button>
    </div>
</div>