<div class="flex flex-col flex-auto min-w-0">
    <div
        class="
            relative
            flex flex-0
            items-center
            h-16
            px-4
            md:px-6
            z-49
            dark:shadow-none dark:border-b dark:bg-transparent
            print:hidden
        "
        style="align-self: flex-end"
    >
        <!-- Navigation toggle button -->
        <button mat-mini-fab (click)="toggleNavigation('mainNavigation')">
            <mat-icon [svgIcon]="'heroicons_solid:user'"></mat-icon>
        </button>

        <!-- Components -->
        <!-- <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
            <languages></languages>
            <fuse-fullscreen class="hidden md:block"></fuse-fullscreen>
            <search [appearance]="'bar'"></search>
            <shortcuts></shortcuts>
            <messages></messages>
            <button
                class="lg:hidden"
                mat-icon-button
                (click)="quickChat.toggle()">
                <mat-icon [svgIcon]="'heroicons_outline:chat-alt-2'"></mat-icon>
            </button>
        </div> -->
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <!-- CONTENT GOES HERE -->
        <div class="rounded-2xl">
            <!-- Github issues summary -->
            <div
                class="
                    sm:col-span-2
                    md:col-span-4
                    flex flex-col flex-auto
                    p-6
                    bg-card
                    shadow
                    rounded-2xl
                    overflow-hidden
                "
            >
                <div
                    class="
                        flex flex-col
                        sm:flex-row
                        items-start
                        justify-between
                    "
                >
                    <div
                        class="
                            text-lg
                            font-medium
                            tracking-tight
                            leading-6
                            truncate
                        "
                    >
                        Lorem Ipsum
                    </div>
                    <!-- <div class="mt-3 sm:mt-0 sm:ml-2">
                        <mat-button-toggle-group
                            value="this-week"
                            #githubIssuesWeekSelector="matButtonToggleGroup"
                        >
                            <mat-button-toggle value="last-week"
                                >Last Week</mat-button-toggle
                            >
                            <mat-button-toggle value="this-week"
                                >This Week</mat-button-toggle
                            >
                        </mat-button-toggle-group>
                    </div> -->
                </div>
                <div
                    class="
                        grid grid-cols-1
                        lg:grid-cols-2
                        grid-flow-row
                        gap-6
                        w-full
                        mt-8
                        sm:mt-4
                    "
                >
                    <!-- New vs. Closed -->
                    <div class="flex flex-col flex-auto">
                        <div class="font-medium text-secondary">
                            <!-- New vs. Closed -->
                        </div>
                        <div class="flex flex-col flex-auto">
                            <apx-chart
                                [series]="chartOptions.series"
                                [chart]="chartOptions.chart"
                                [dataLabels]="chartOptions.dataLabels"
                                [plotOptions]="chartOptions.plotOptions"
                                [yaxis]="chartOptions.yaxis"
                                [xaxis]="chartOptions.xaxis"
                                [fill]="chartOptions.fill"
                                [title]="chartOptions.title"
                            ></apx-chart>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-5 mb-3 font-medium">
                <mat-label>Transfer Money</mat-label>
            </div>
            <div class="overflow-auto">
                <div class="flex flex-row w-max pb-5">
                    <fuse-card
                        style="
                            background: transparent;
                            box-shadow: none;
                            margin: auto;
                        "
                        class="flex flex-col w-full px-5 pt-4 pb-4 filter-list"
                        (click)="openDialog()"
                    >
                        <div class="flex flex-col mt-5">
                            <div class="text-center">
                                <mat-icon
                                    color="accent"
                                    style="transform: scale(2)"
                                    svgIcon="heroicons_outline:plus-circle"
                                ></mat-icon>
                            </div>
                        </div>
                    </fuse-card>

                    <fuse-card
                        style="border: 3px solid #1da6fc"
                        class="
                            flex flex-col
                            w-full
                            px-5
                            pt-4
                            pb-4
                            filter-list
                            mr-5
                        "
                        (click)="openTranferDialog('Edwards')"
                    >
                        <div class="flex flex-col m-auto">
                            <div class="items-center">
                                <div>
                                    <img
                                        style="width: 80%"
                                        class="m-auto rounded-full"
                                        src="assets/images/avatars/robot-1.png"
                                        alt="Card cover image"
                                    />
                                </div>
                                <div class="text-center">
                                    <div
                                        class="
                                            font-medium
                                            text-sm text-secondary
                                        "
                                    >
                                        Edwards
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fuse-card>

                    <fuse-card
                        style="border: 3px solid #1da6fc"
                        class="
                            flex flex-col
                            w-full
                            px-5
                            pt-4
                            pb-4
                            filter-list
                            mr-5
                        "
                        (click)="openTranferDialog('Adam')"
                    >
                        <div class="flex flex-col m-auto">
                            <div class="items-center">
                                <div>
                                    <img
                                        style="width: 80%"
                                        class="m-auto rounded-full"
                                        src="assets/images/avatars/robot-2.png"
                                        alt="Card cover image"
                                    />
                                </div>
                                <div class="text-center">
                                    <div
                                        class="
                                            font-medium
                                            text-sm text-secondary
                                        "
                                    >
                                        Adam
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fuse-card>

                    <fuse-card
                        style="border: 3px solid #1da6fc"
                        class="
                            flex flex-col
                            w-full
                            px-5
                            pt-4
                            pb-4
                            filter-list
                            mr-5
                        "
                        (click)="openTranferDialog('Rebecca')"
                    >
                        <div class="flex flex-col m-auto">
                            <div class="items-center">
                                <div>
                                    <img
                                        style="width: 80%"
                                        class="m-auto rounded-full"
                                        src="assets/images/avatars/robot-3.png"
                                        alt="Card cover image"
                                    />
                                </div>
                                <div class="text-center">
                                    <div
                                        class="
                                            font-medium
                                            text-sm text-secondary
                                        "
                                    >
                                        Rebecca
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fuse-card>
                </div>
            </div>

            <div
                class="
                    xl:col-span-2
                    flex flex-col flex-auto
                    bg-card
                    shadow
                    rounded-2xl
                    overflow-hidden
                    mt-5
                "
            >
                <div
                    class="
                        flex flex-col flex-auto
                        bg-card
                        shadow
                        rounded-2xl
                        overflow-hidden
                        p-6
                    "
                >
                    <div class="flex items-start justify-between">
                        <div
                            class="
                                text-lg
                                font-medium
                                tracking-tight
                                leading-6
                                truncate
                            "
                        >
                            Total Amount in Saving Account
                        </div>
                    </div>
                    <div class="flex flex-col flex-auto mt-6 h-44">
                        <apx-chart
                            class="
                                flex flex-auto
                                items-center
                                justify-center
                                w-full
                                h-full
                            "
                            [chart]="chartNewVsReturning.chart"
                            [colors]="chartNewVsReturning.colors"
                            [labels]="chartNewVsReturning.labels"
                            [plotOptions]="chartNewVsReturning.plotOptions"
                            [series]="chartNewVsReturning.series"
                            [states]="chartNewVsReturning.states"
                            [tooltip]="chartNewVsReturning.tooltip"
                        ></apx-chart>
                    </div>
                    <div class="mt-8">
                        <div class="-my-3 divide-y">
                            <ng-container>
                                <div class="grid grid-cols-3 py-3">
                                    <div class="flex items-center">
                                        <div
                                            class="flex-0 w-2 h-2 rounded-full"
                                            [style.backgroundColor]="
                                                chartNewVsReturning.colors[0]
                                            "
                                        ></div>
                                        <div class="ml-3 truncate">Edwards</div>
                                    </div>
                                    <div class="font-medium text-right">
                                        RM 5
                                    </div>
                                    <div class="text-right text-secondary">
                                        30%
                                    </div>
                                </div>
                            </ng-container>

                            <ng-container>
                                <div class="grid grid-cols-3 py-3">
                                    <div class="flex items-center">
                                        <div
                                            class="flex-0 w-2 h-2 rounded-full"
                                            [style.backgroundColor]="
                                                chartNewVsReturning.colors[1]
                                            "
                                        ></div>
                                        <div class="ml-3 truncate">Adam</div>
                                    </div>
                                    <div class="font-medium text-right">
                                        RM 2
                                    </div>
                                    <div class="text-right text-secondary">
                                        60%
                                    </div>
                                </div>
                            </ng-container>

                            <ng-container>
                                <div class="grid grid-cols-3 py-3">
                                    <div class="flex items-center">
                                        <div
                                            class="flex-0 w-2 h-2 rounded-full"
                                            [style.backgroundColor]="
                                                chartNewVsReturning.colors[2]
                                            "
                                        ></div>
                                        <div class="ml-3 truncate">Rebecca</div>
                                    </div>
                                    <div class="font-medium text-right">
                                        RM 15
                                    </div>
                                    <div class="text-right text-secondary">
                                        10%
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
